<h1>Secret Codes</h1>

<div style="padding-bottom:2%;">
  <form action="/secret_codes/generate_n_secret_codes", method="get">
    <div style="width:15%;display: inline-block;">
      <%= select_tag :count, options_for_select([1, 10, 20, 50, 100], 10), :id => "secret_codes_count", :class=> "form-control" %>
    </div>
    <div style="display: inline">
      <button type="submit" class="btn btn-primary">Generate</button>
    </div>
  </form>
</div>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Code</th>
      <th>User Email</th>
    </tr>
  </thead>

  <tbody>
    <% @secret_codes.each do |secret_code| %>
      <tr>
        <td><%= secret_code.code %></td>
        <td><%= secret_code.user&.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
